#
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

#
# Make sure only a single user can access the machines over ssh
# Note: this script assumes a Debian / Ubuntu system 
# 

user { "{{user}}":
  groups => ['adm','dialout','cdrom', 'floppy','audio','dip','video','plugdev','netdev','admin','sudo'],
  ensure => 'present',
  managehome => 'true',
  shell => '/bin/bash',
  membership => 'inclusive',
  system => 'false'
}
  
file { "/home/{{user}}/.ssh":
	ensure => 'directory',
	require => User['{{user}}'],
	owner => '{{user}}',
	mode => '700'
}

ssh_authorized_key { '{{user}}-rsa-key':
	ensure => 'present',
	key => '{{publicKey}}',
	type => 'rsa',
	user => '{{user}}',
	require => File['/home/{{user}}/.ssh']
}  
  
file { "/etc/ssh/sshd_config":
  owner => "root",
  group => "root",
  mode => 644,
  replace => "true",
  notify => Service["ssh"],
  require => Package["openssh-server"],
  source => "/tmp/sshd_config"
}

file { "/etc/sudoers":
  owner => "root",
  group => "root",
  mode => 440,
  replace => "true",
  source => "/tmp/sudoers"
}

package { "openssh-server":
  ensure => installed
}

service { "ssh":
  ensure => running,
  provider => 'upstart',
  hasrestart => 'true',
  hasstatus  => 'true',
  require => [
    File["/etc/ssh/sshd_config"],
    Package["openssh-server"]
  ]
}
